numpy
pandas
openai
groq
langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers
huggingface-hub
ragas
datasets
fastapi
uvicorn
python-multipart
python-dotenv
pydantic
pydantic-settings
tiktoken
llama-parse
rank-bm25